body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
}

nav img{
    height: 30px;
}
span {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.glass-container{
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    /* display: inline-block; */
}

main{
    width: 50%;
    margin: auto;
    text-align: center;
}

input{
    width: 80%;

}